/* CSS------------------------------------------------------------------------------------------------------------------------------------ */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

/* GLOBAL------------------------------------------------------------------------------------------------------------------------------------ */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* HEADER------------------------------------------------------------------------------------------------------------------------------------ */
header {
    background: #4AA4DE;
    color: #ffffff;
    padding-top: 0px;
    min-height: 80px;
    border-bottom: #00070c 3.5px solid;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
}

header ul {
    margin: 0;
    padding: 0;
}

header #branding h1 {
    margin:0;
    font-size: 39px;
    font-family: Arial
}

header #branding h2 {
    font-size: 20px;
    font-family: Arial;
    margin-top: 16px
}

header #branding {
    float: left;
}

header nav {
    float: right;
    margin-top: 9px;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.nav-link-wrapper {
    float: left;
    display: inline;
    padding: 0 10px 0 0px;
}
    
.nav-link-wrapper a {
    color: #ffffff;
    text-decoration: none;
}

.nav-link-wrapper a:hover {
    color: black; 
}

header .highlight, header .current a {
    color: #080000;
    font-weight: bold;
}

/* PICTURE------------------------------------------------------------------------------------------------------------------------------------ */
#showcase {
    min-height: 740px;
    background: url('./images/Tableau.png') no-repeat 0 20px;
    background-size: 1000px 650px;
}

#showcase {
    background-position: center;
}

/* INTRODUCTION------------------------------------------------------------------------------------------------------------------------------------ */
.content-wrapper {
    font-weight: bold;
    text-align: center;
}

#paragraf h1 {
    padding: 40px;
    padding-left: 45px;
    padding-top: 40px;
    color: #ffffff;
    background-color: #4AA4DE;
    border-top: #02000c 0px solid;
    border-bottom: #00070c 0px solid;
    margin-top: -125px;
}

.Tableau-link-wrapper a {
    color: #697b85;
    text-decoration: none;
}

.Tableau-link-wrapper a:hover {
    color: black; 
}

footer .Tableau-link-wrapper, footer .current a {
    color: #080000;
    font-weight: bold;
}

/* FOOTER------------------------------------------------------------------------------------------------------------------------------------ */
.contact-link-wrapper a {
    color: #4AA4DE;
    text-decoration: none;
}

.contact-link-wrapper a:hover {
    color: black; 
}

footer .contact-link-wrapper, footer .current a {
    color: #080000;
    font-weight: bold;
}

.fab {
    color: #4AA4DE;
    font-size: 40px;
}

.fab:hover {
    color: black;
    font-size: 40px;
    cursor: pointer;
}

footer {
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

/* COOKIES------------------------------------------------------------------------------------------------------------------------------------ */
.cookie-container { 
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #2f3640;
    color: #f5f6fa;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgb(47, 54, 64);
    opacity: 0.8;
    transition: 400ms;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: #f5f6fa
}

.cookie-btn {
    background: #4AA4DE;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;    
}

/* MEDIA QUERIES------------------------------------------------------------------------------------------------------------------------------------ */
@media(max-width: 650px) {

    .nav-link-wrapper {
        float: left;
        display: inline;
        padding: 0 5px 0 0px;
    }

    header nav {
        float: left;
        margin-top: 9px;
    }
    
    #showcase {
        display: none;
    }

    #paragraf h1 {
    margin-top: 0px;
    margin-bottom: 70px;
    }
}

@media(max-width: 360px) {

    #paragraf h1 {
    margin-top: 0px;
    margin-bottom: 150px;
    }
}